* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.section-one {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/3.jpg");
}
.section-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-overlay p {
  margin: 50px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
}
.section-overlay h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;

  text-align: center;
  letter-spacing: 0.2px;
}
.section-overlay button {
  color: rgb(245, 237, 237);
  background: block;
  background-color: rgb(46, 44, 44);
  padding: 16px 47px;
  border: 2px solid gray;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;

  letter-spacing: 0.1px;
}

.section-two {
  max-width: 100%;
  margin: 0;
  padding: 30px;
}
.section-two .two-heading h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;

  text-align: center;
  letter-spacing: 0.2px;
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 50px 250px;
}
.content-mobile{
    display: none;
}

.content-flex {
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  text-align: center;
  letter-spacing: 0.2px;
  padding: 20px;
}
.section-three {
  max-width: 100%;
  background-color: rgb(75, 74, 74);
  color: white;
}
.card-continer {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 50px 200px;
}
.section-three-Cards {
  padding: 25px;
}
.section-three-Cards img {
  width: 100%;
  display: block;
}
.card-content {
  background-color: white;
  word-wrap: break-word;
  width: 100%;
}
.card-text {
  padding: 20px;
}
.card-content h1 {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 20px 0;
}
.card-content p {
  color: rgb(5, 5, 5);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2px;
}

.section-four {
  max-width: 100%;
  margin: 0;
  padding: 40px;
}
.section-four .four-heading h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2px;
}
.section-four p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
}

.section-five {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-five-details {
  width: 50%;
  padding: 50px;
  text-align: center;
  color: white;
}
.contact {
  background-color: rgb(245, 7, 7);
}
.about {
  background-color: rgb(186, 10, 240);
}
.contact h1 {
  margin-bottom: 50px;
}
.about h1 {
  margin-bottom: 50px;
}
.contact p {
  margin-bottom: 50px;
}
.gmail {
  margin-bottom: 10px;
}

.section-six {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-six-details {
  width: 50%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(44, 43, 43);
}
.project-by {
  color: rgb(54, 248, 6);
}

@media screen and (max-width:576px){
    .section-overlay{
        padding: 10px;
    }
    .section-overlay h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
      
        text-align: center;
        letter-spacing: 0.1px;
      } 
      .section-overlay p {
        margin: 25px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
      }

      .content {
        display: none;
        
        padding: 50px 10px;
      }
      .content-mobile{
          margin: 20px 0;
        padding: 50px 10px;
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
      
        text-align: center;
        letter-spacing: 0.2px;
        padding: 20px;  
      }

      .card-continer {
        max-width: 576px;
       
        flex-direction: column;
        
        padding: 50px 10px;
      }
      .section-five {
      flex-direction: column;
       
      }
      .section-five-details{
        width: 100%;
      }
      .section-six {
           
       flex-direction: column; 
       justify-content: center; 
      }
      .section-six-details{
        width: 100%;
        padding: 5px 10px;;

      }
     


    
 }

 @media screen and (max-width:1024px){

  .content {
   
    padding: 50px 100px;
  }
  .card-continer {
   
    
    padding: 50px 0px;
  }
 }
 @media screen and (min-width:1441px){

  .content {
    max-width: 1440px;
    margin: 0 auto;
  }

 }
