   body {
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;           
        }
          
		
		h1 {
			font-size: 35px;
		}
		
		h1 {
			font-size: 21px;
			margin-top: 20px;
		}
		
		.calculator {
			width: 400px;
			height: 450px;
			background-color: rgb(13, 155, 143);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 20px 0px 0px 100px;
			border-radius: 0;
			color: white;
		}
		
		input {
			padding: 7px;
			width: 70%;
			margin-top: 7px;
		}
